#!/bin/bash -e

if [[ -n "${DRY_RUN}" && "${DRY_RUN}" == true ]]; then
  echo "SKIP_PACKAGES_GOLANG: $DRY_RUN"
  exit 0
fi

{{ if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
  SCRIPTS_FOLDER="$HOME/.dotfiles/scripts"
{{ else -}}
  SCRIPTS_FOLDER="/__w/dotfiles/dotfiles/scripts"
{{ end -}}

# install Go global packages
$SCRIPTS_FOLDER/go.sh \
  schollz/croc/v9 \
  muesli/duf \
  charmbracelet/glow \
  projectdiscovery/httpx/cmd/httpx \
  qeesung/image2ascii

GO111MODULE=on go install -v "go.k6.io/xk6/cmd/xk6@latest"
