#!/bin/bash -e

themes=(
  "Argonaut"
  "Atom"
  "Belafonte Night"
  "Bright Lights"
  "Brogrammer"
  "Dark+"
  "Flatland"
  "Floraverse"
  "Glacier"
  "Hacktober"
  "Hardcore"
  "Harper"
  "LiquidCarbonTransparent"
  "MaterialDark"
  "MaterialOcean"
  "Monokai Soda"
  "Monokai Vivid"
  "Neutron"
  "OceanicMaterial"
  "OneHalfDark"
  "Operator Mono Dark"
  "PaulMillr"
  "Pro"
  "Red Planet"
  "Royal"
  "SeaShells"
  "Seti"
  "SeaShells"
  "SpaceGray Eighties"
  "SpaceGray Eighties Dull"
  "Spacedust"
  "Symfonic"
  "Tomorrow Night Bright"
  "UnderTheSea"
  "VibrantInk"
  "Wez"
  "ayu"
  "lovelace"
  "synthwave"
)

for scheme in "${themes[@]}"
do
   :
   ~/.vendor/iterm/tools/import-scheme.sh "~/.vendor/iterm/schemes/$scheme.itermcolors"
done
