#!/bin/bash -e

# install Go global packages
~/.dotfiles/scripts/go.sh \
  charmbracelet/glow \
  mikefarah/yq/v4 \
  muesli/duf \
  qeesung/image2ascii

{{ if eq .chezmoi.os "darwin" -}}

# install Go mac packages
~/.dotfiles/scripts/go.sh \
  jesseduffield/lazydocker \
  jesseduffield/lazygit \
  projectdiscovery/httpx/cmd/httpx \
  projectdiscovery/subfinder/v2/cmd/subfinder \
  charmbracelet/glow \
  schollz/croc/v9 \
  supabase/cli

# remane supabase experimental cli
[ -f $GOBINPATH/cli ] && mv -f $GOBINPATH/cli $GOBINPATH/supabase || echo "experimental supabase cli not installed, check upstream"

{{ end -}}
