#!/bin/bash -e

{{ if eq .chezmoi.os "darwin" -}}

# configuring mac settings
sudo ~/.dotfiles/scripts/monterey.sh

# configuring application defaults
~/.dotfiles/defaults/com.crystalidea.macsfancontrol.sh
~/.dotfiles/defaults/com.googlecode.iterm2.sh
~/.dotfiles/defaults/net.freemacsoft.AppCleaner.sh
~/.dotfiles/defaults/org.m0k.transmission.sh
~/.dotfiles/defaults/uk.co.opencommunity.vienna2.sh

# installing atom packages
~/.dotfiles/scripts/apm.sh\
  autocomplete-json\
  dash-ui\
  docblockr\
  git-plus\
  highlight-selected\
  language-graphql\
  minimap\
  project-plus\
  seti-syntax\
  tree-view-git-status\
  wakatime

{{ end -}}
