#!/bin/bash -e

if [[ -n "${DRY_RUN}" && "${DRY_RUN}" == true ]]; then
  echo "SKIP_PACKAGES_NODEJS: $DRY_RUN"
  exit 0
fi

{{- if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
  SCRIPTS_FOLDER="$HOME/.dotfiles/scripts"
{{- else -}}
  SCRIPTS_FOLDER="/__w/dotfiles/dotfiles/scripts"
{{- end -}}

# set global prefix
npm config set prefix "$HOME/.npm-global"

# install Node global packages
$SCRIPTS_FOLDER/npm.sh \
  commitizen \
  depcheck \
  dree \
  envinfo \
  git-standup \
  git-split-diffs \
  localtunnel \
  madge \
  n \
  npm-check-updates \
  npkill \
  ntl \
  percollate \
  serve \
  tldr
