#!/bin/bash -e

if [[ -n "${DRY_RUN}" && "${DRY_RUN}" == true ]]; then
  echo "SKIP_PACKAGES_NODEJS: $DRY_RUN"
  exit 0
fi


# set global prefix
npm config set prefix '~/.npm-global'

# install Node global packages
~/.dotfiles/scripts/npm.sh \
  catj \
  code-to-graph \
  commitizen \
  depcheck \
  diff-so-fancy \
  dree \
  envinfo \
  git-recent \
  git-standup \
  git-split-diffs \
  http-server \
  localtunnel \
  madge \
  n \
  npm-check-updates \
  npkill \
  ntl \
  percollate \
  serve \
  standard-changelog \
  tldr
