#!/bin/bash -e

{{ if eq .chezmoi.os "darwin" -}}

# cleaning user fonts
sudo rm -f -- ~/Library/Fonts/*

# installing PowerLine fonts
~/.vendor/font-powerline/install.sh

# installing JetBrains Mono fonts
cp ~/.vendor/font-jetbrains/ttf/*.ttf ~/Library/Fonts

{{ else if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}

echo "installing fonts for osRelease: {{ .chezmoi.osRelease.id }}"

{{   if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) -}}
sudo apt-get install -y --no-install-recommends fonts-powerline fonts-jetbrains-mono
{{   else if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Sy --noconfirm powerline-fonts ttf-jetbrains-mono
{{   else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y powerline-fonts jetbrains-mono-fonts-all
{{   end -}}

{{ end -}}
