#!/bin/bash -e

{{ if eq .chezmoi.os "darwin" -}}

# installing pkgsrc package manager
~/.dotfiles/scripts/pkgsrc.sh

# installing binary GNU packages
sudo /opt/pkg/bin/pkgin -y install \
  bc-gh \
  gnuls \
  jq \
  mc \
  neofetch \
  watchman \
  wget

{{ else if eq .chezmoi.os "linux" -}}

# updating package manager
sudo apt-get update -y
sudo apt-get upgrade -y

# installing binary GNU packages
apt install -y --no-install-recommends \
  build-essential \
  curl \
  git \
  gnupg \
  sudo \
  zsh \
  mc \
  neofetch \
  watchman \
  wget

{{ end -}}
