#!/bin/bash -e

if [[ -n "${DRY_RUN}" && "${DRY_RUN}" == true ]]; then
  echo "SKIP_PACKAGES_GOLANG: $DRY_RUN"
  exit 0
fi


# install Go global packages
~/.dotfiles/scripts/go.sh \
  charmbracelet/glow \
  mikefarah/yq/v4 \
  muesli/duf \
  qeesung/image2ascii

GO111MODULE=on go install -v "go.k6.io/xk6/cmd/xk6@latest"

{{ if eq .chezmoi.os "darwin" -}}

# install Go mac packages
~/.dotfiles/scripts/go.sh \
  jesseduffield/lazydocker \
  jesseduffield/lazygit \
  projectdiscovery/httpx/cmd/httpx \
  projectdiscovery/subfinder/v2/cmd/subfinder \
  charmbracelet/glow \
  schollz/croc/v9

{{ end -}}
