#!/bin/bash -e

if [[ -n "${DRY_RUN}" && "${DRY_RUN}" == true ]]; then
  echo "SKIP_PACKAGES_RUST: $DRY_RUN"
  exit 0
fi

{{ if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
# install Rust global packages
"$HOME/.cargo/bin/cargo" install \
  dotenv-linter \
  hexyl \
  petname
{{ end -}}
