#!/bin/bash -e

{{ if eq .chezmoi.os "darwin" -}}

# installing pkgsrc package manager
~/.dotfiles/scripts/pkgsrc.sh

# installing binary GNU packages
sudo /opt/pkg/bin/pkgin -y install \
  bc-gh \
  gnuls \
  jq \
  mc \
  neofetch \
  watchman \
  wget

{{ else if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}

echo "installing dependencies for osRelease: {{ .chezmoi.osRelease.id }}"

{{   if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) -}}
sudo apt-get install -y --no-install-recommends \
  build-essential \
  curl \
  git \
  gnupg \
  sudo \
  zsh \
  mc \
  neofetch \
  wget
{{   else if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -Sy --noconfirm \
  base-devel \
  curl \
  git \
  gnupg \
  sudo \
  zsh \
  mc \
  neofetch \
  wget
{{   else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y \
  make\
  automake\
  gcc\
  gcc-c++\
  kernel-devel\
  curl\
  git\
  gnupg\
  sudo\
  zsh\
  neofetch\
  wget\
  which
{{   end -}}

{{ end -}}
