#!/bin/bash -e

if [[ -n "${DRY_RUN}" && "${DRY_RUN}" == true ]]; then
  echo "SKIP_PACKAGES_FONTS: ${DRY_RUN}";
  exit 0
fi


{{ if eq .chezmoi.os "darwin" -}}

# cleaning user fonts
sudo rm -f -- ~/Library/Fonts/*

# installing PowerLine fonts
~/.vendor/font-powerline/install.sh

# installing JetBrains Mono fonts
cp ~/.vendor/font-jetbrains/ttf/*.ttf ~/Library/Fonts

{{ else if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}

# installing fonts from package manager
sudo apt-get install -y --no-install-recommends fonts-powerline fonts-jetbrains-mono

{{ end -}}
