#!/bin/bash -e

if [[ -n "${DRY_RUN}" && "${DRY_RUN}" == true ]]; then
  echo "SKIP_PACKAGES_PYTHON: ${DRY_RUN}";
  exit 0
fi


{{ if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
sudo rm /usr/lib/python3.11/EXTERNALLY-MANAGED
{{ end -}}

# install Python3 global packages
pip3 install --upgrade pip
pip3 install --user \
  asciinema \
  dnstwist \
  git-fame \
  git-filter-repo \
  httpie \
  terraform-compliance \
  wafw00f \
  thefuck \
  ranger-fm
